<div class="row">
  <div class="card">
    <mat-tab-group>

      <mat-tab label="{{'analytics.ad.pointer.ads'|translate}}">
        <app-ad-pointer-ads></app-ad-pointer-ads>
      </mat-tab>

      <mat-tab label="{{'analytics.ad.pointer.brands'|translate}}">
        <app-ad-pointer-brands></app-ad-pointer-brands>
      </mat-tab>

      <mat-tab label="{{'analytics.ad.pointer.company'|translate}}">
        <app-ad-pointer-companies></app-ad-pointer-companies>
      </mat-tab>

      <mat-tab label="{{'analytics.ad.pointer.industry'|translate}}">
        <app-ad-pointer-industries></app-ad-pointer-industries>
      </mat-tab>

      <mat-tab label="{{'analytics.ad.pointer.drive.to.web'|translate}}">
        <app-ad-pointer-drive-to-web></app-ad-pointer-drive-to-web>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
